* {
  margin: 0;
  padding: 0;
}
.Angle-Poppy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  background-color: rgba(229, 84, 115, 0.1);
  gap: 30px;
}
.gift-from-God {
  width: 400px;
  height: 500px;
  margin-top: 30px;
}
.Channel-Jasmine {
  margin-top: 10px;
}
.btn-primary {
  margin-top: 15px;
}
.road-map {
  margin-top: 15px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 200;
}
.Channel-Jasmine h1 {
  color: #272727;
  font-size: 50px;
  font-weight: 600;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    height: 50px;
    width: 150px;
}

/* second part of flower project */

.flower-azalea{
    text-align: center;
    margin: 100px;
}
.flower-azalea p{
    color: rgba(39, 39, 39, 0.60);

}
.flower-amaryllis{
    display: flex;
   margin: 50px;
   align-items: center;
   justify-content:center;
   gap: 15px;
}
.different-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 370px;
    height: 370px;
}
.different-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    height: 370px;
}
.different-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 370px;
    height: 370px;
}
.between-one{
    width: 300px;
    height: 250px; 
}
.between-two{
    width: 300px;
    height: 250px; 
}
.between-three{
    width: 300px;
    height: 250px;
}

.Holly-wood{
    display: flex;
    margin: 200px;
    align-items: center;
    justify-content:space-around;
    gap: 15px;
    padding: 80px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;

}
.skill-discribe{
    color: rgba(39, 39, 39, 0.80);
}


/* fourth part of flower  */
.sell-flower{
    display: flex;
    justify-content: space-around;
  align-items: center;
  height: 60vh;
  background: rgba(229, 84, 115, 0.05);
  gap: 15px;
}
.sell-flowere{
    width: 300px;
    height: 350px;
    margin-right: 200px;
}
.Christmas-magic{
    margin-left: 300px;
}
.Christmas-magic p{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 10px;
}
.red-bull{
    color: #E55473;
}
