* {
  margin: 0;
  padding: 0;
}
.Angle-Poppy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 66vh;
  background-color: rgba(229, 84, 115, 0.1);
  gap: 30px;
}
.gift-from-God {
  width: 400px;
  height: 500px;
  margin-top: 30px;
}
.Channel-Jasmine {
  margin-top: 10px;
}

.road-map {
  margin-top: 15px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 200;
}
.Channel-Jasmine h1 {
  color: #272727;
  font-size: 50px;
  font-weight: 600;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    padding:15px 20px 15px 20px;
    margin-top: 15px;
    border: none;
}

/* second part of flower project */

.flower-azalea{
    text-align: center;
    margin: 100px;
}
.flower-azalea p{
    color: rgba(39, 39, 39, 0.60);

}
.flower-amaryllis{
    display: flex;
   margin: 50px;
   align-items: center;
   justify-content:center;
   gap: 15px;
}
.different-one{
    border-radius:300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 500px;
}
.different-two{
    border-radius:300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 500px;
}
.different-three{
    border-radius:300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 500px;
} 
.between-one{
    padding: 40px 40px 0px 40px;
    width: 300px;
    margin: auto;
}

.Holly-wood{
    display: flex;
    margin:300px;
    align-items: center;
    justify-content:space-around;
    gap: 15px;
    padding: 80px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;

}
.skill-discribe{
    color: rgba(39, 39, 39, 0.80);
}


/* fourth part of flower  */
.sell-flower{
    display: flex;
    justify-content: space-around;
  align-items: center;
  height: 60vh;
  background: rgba(229, 84, 115, 0.05);
  gap: 15px;
}
.sell-flowere{
    width:300px;
    height: 350px;
    margin-right:300px;
}
.Christmas-magic{
    margin-left:300px;
}
.Christmas-magic p{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 10px;
    text-align: center;
}
.Christmas-magic h1{
    text-align: center; 
}

.red-bull{
    color: #E55473;
}
.btn-second{
    border-radius: 5px;
    background: #E55473;
    padding:15px 20px 15px 20px;
    display: block; 
    margin: auto;
    margin-top: 20px;
}
.baby-flower{
    display: flex; 
    justify-content: center;
    height: 60vh;
    width: 100px;

    gap: 15px;
    margin:auto;
}

.title-jesmin{
    height:300px;
    width:300px;
}
   
  
/* six part of flower */

.section-banner{
    display: flex;
    justify-content:center;
    align-items: center;
 background-image:url("./Rectangle\ 9.png");
   height: 40vh;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
}
 .selector{
    height: 50px;
    width: 600px;
    border-radius: 6px;
    border: none;

 }
 .section-banner p{
    color: rgba(39, 39, 39, 0.60);
 }
 .section-banner h1{
    font-size: 40px;
 }
 
 /* last part of flower */
    .footer-info{
        height: 30vh;
        background-color: black;
        margin-top: 100px;
        color: white;
        text-align: center;
        padding-top: 150px;
    }
    .footer-info h6{
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.40);
    }

    .footer-info p{
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.90);
    }

    .discover{
        color: #E55473; ;
    }



    /* seven part of flower */

    .shop-info{
        display: flex;
        height: 70vh;
        padding: 80px;
        margin-top: 100px;
        /* justify-content: space-around; */
        /* align-items: center; */
        background-color:aliceblue;
        gap: 100px;
    }
    .open-time{
        margin-left: 20px;
    }
    .open-time h1{
       text-align: center;
       font-size: 70px;
    }
    .close-time{
        display: flex;align-items: center;
        justify-content: center;
        margin-top: 100px;
        font-size: 20px;
        gap: 100px;
    }
    .close-time h3{
        margin-top: 20px;
    }
    .submit{
        border-radius: 5px;
        background: #961f39;
        padding:15px 20px 15px 20px;
        display: block; 
        color: #ffffff;
        font-size: 18px;
        margin: auto;
        border: none;
        margin-top: 20px;
    }
    .reput{
        text-align: center;
        margin-top: 20px;
    }